@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
}

 a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: rgba(245, 245, 220, 0.295);
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.525);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.301);
    width: 200px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}